:root {
    --bg-color: rgb(20, 20, 20);
    --project-color: rgb(23, 23, 23);

    --fs-small: 20px;
    --fs-medium: 40px;
    --fs-large: 80px;

    --fw-regular: 400;
    --fw-bold: 700;
    --fw-extra-bold: 900;

  }



  .fs-20{
    font-size: var(--fs-small);
  }

  .fs-40{
    font-size: var(--fs-medium);
  }

  .fs-80{
    font-size: var(--fs-large);
  }

  .fw-regular{
    font-weight: var(--fw-regular);
  }

  .fw-bold{
    font-weight: var(--fw-bold) !important;
  }

  .fw-extra-bold{
    font-weight: var(--fw-extra-bold);
  }

  .decorative-number{
    margin-right: 0.3em;
  }

  body{
    background-color: var(--bg-color);
    font-family: 'Lato', sans-serif;
    cursor:  url(http://www.rw-designer.com/cursor-extern.php?id=108843), auto;
    min-height: 100vh;
  }

  a{
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=108857), auto;
  }

  .container{
    min-height: 100vh;
  }


  .lights{
    background-color: white;
    height: 500px;
    width: 500px;
    position: absolute;
    inset: 0;
    margin-inline: auto;
    background:linear-gradient(
      to right,
      rgb(33 150 243) ,
      rgb(0, 0, 0)
      );
    border-radius: 50%;
    animation: rotate 20s infinite;
    filter: blur(20px);
  }

  @keyframes rotate {
    from{
      rotate: 0deg;
    }

    50%{
      scale: 1 1.5;
    }

    to{
      rotate: 360deg;
    }
  }

  .screen{
    border: 3px solid rgb(33 150 243 );
    box-shadow: 0px 0px 15px 0px rgb(33 150 243);
    border-radius: 1rem;
    background-color: rgb(33 150 243 / 15%);
    overflow: hidden;
    position: relative;
  }

  .screen > .screen-background-img{
    background-image: url(background2.jpg);
    height: 100%;
    width: 100%;
    background-size: 300%;
    background-position: center;
    filter: sepia(100%) hue-rotate(160deg);
    opacity: 0.7;
    animation: pan-image 15s infinite linear;
    position: absolute;
  }

  .screen > .profile-screen-background-img{
    background-image: url(profile.png);
    height: 100%;
    width: 100%;
    background-size: 300%;
    background-position: center top;
    background-size: cover;
    filter: sepia(100%) hue-rotate(160deg);
    opacity: 0.7;
    position: absolute;
  }

  .screen-overlay{
    background: linear-gradient(
        rgb(33 150 243 / 15%),
        rgb(33 150 243 / 15%) 3px,
        transparent 3px,
        transparent 9px
    );
    background-size: 100% 1%;
    height: 100%;
    width: 100%;
    animation: pan-overlay 22s infinite linear;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  @keyframes pan-overlay {  
    0% {
      background-position: 0% 0%;
    }
    
    100% {
      background-position: 0% -100%;
    }
  }

  @keyframes pan-image {  
    0% {
      background-position: 36% 42%;
      background-size: 200%;
    }
    
    20% {
      background-position: 30% 35%;
      background-size: 200%;
    }
    
    20.0001% { /* -- View 2 -- */
      background-position: 60% 85%;
      background-size: 500%;
    }
    
    40% {
      background-position: 49% 81%;
      background-size: 500%;
    }
    
    40.0001% { /* -- View 3 -- */
      background-position: 80% 42%;
      background-size: 300%;
    }
    
    60% {
      background-position: 84% 33%;
      background-size: 300%;
    }
    
    60.0001% { /* -- View 4 -- */
      background-position: 0% 0%;
      background-size: 300%;
    }
    
    80% {
      background-position: 15% 4%;
      background-size: 300%;
    }
    
    80.0001% { /* -- View 5 -- */
      background-position: 80% 10%;
      background-size: 300%;
    }
    
    100% {
      background-position: 72% 14%;
      background-size: 300%;
    }
  }

  .screen > .screen-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    gap: 4rem;
    position: relative;
    z-index: 3;
    margin: 1rem;
    padding-top: 12rem;
    padding-bottom: 8rem;
    border: 1px solid rgb(33 150 243 / 50%);
    border-radius: 0.6rem;
  }

  .screen > .screen-content > p {
    color: white;
    text-shadow: 0px 0px 1rem white;
    font-size: clamp(2em, 5vw, 3em);
    font-weight: bolder;
  }
  
  .screen > .screen-content > .screen-user{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: relative;
  }
  
  .screen > .screen-content > .screen-user:before,
  .screen > .screen-content > .screen-user:after {
    content: "";
    position: absolute;
    top: 0px;
    background-color: rgb(33 150 243 );
    border-radius: 1rem;
    box-shadow: 0px 0px 8px 3px rgb(33 150 243 / 60%);
  }
  
  .screen > .screen-content > .screen-user:before {
    height: 2px;
    width: 50px;
    translate: -20px -1rem;
    opacity: 0.75;
  }
  
  .screen > .screen-content > .screen-user:after {
    height: 3px;
    width: 30px;
    translate: 26px calc(-1rem - 0.5px);
  }
  
  .screen > .screen-content > .screen-user > :is(.name, .link) {
    color: white; 
    text-align: center;
    text-transform: uppercase; 
  }
  
  .screen > .screen-content > .screen-user > .name {
    position: relative;
    font-size: clamp(2rem, 3vw, 2.9rem);
    font-weight: 400;
  }
  
  .screen > .screen-content > .screen-user > .name:before,
  .screen > .screen-content > .screen-user > .name:after {
    content: "";
    height: 8px;
    width: 8px;
    position: absolute;
    border: 2px solid white;
    border-radius: 2px;
  }
  
  .screen > .screen-content > .screen-user > .name:before {
    top: 55%;
    right: -1.5rem;
  }
  
  .screen > .screen-content > .screen-user > .name:after {
    top: 45%;
    left: -1.5rem;  
  }
  
  .screen > .screen-content > .screen-user > .link {  
    opacity: 0.8;
    font-size: 1.5rem;
    font-size: clamp(1rem, 5vw, 1.5rem );
    text-shadow: 0px 0px 0.5rem white;
    font-weight: 400;
    letter-spacing: 0.3rem;
    text-decoration: none;
  }
  
  .screen > .screen-content > .screen-user > .link:is(:hover, :focus) {  
    text-decoration: underline; 
  }
  
  .screen:after, .screen:before {
    content: "";
    height: 5px;
    width: 5em;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    position: absolute;
    z-index: 4;
    left: 50%;
    translate: -50% 0%;
    background-color: white;
}

.introduction{
  color: white;
  position: relative;
}

span{
  color: rgb(0, 124, 225);
}

.section-title{
  color: white;
}


.introduction  p{
  opacity: 0.9 !important;
  color: white;
}


.about{
  color: white;
}

.divider{
  border: 3px solid rgb(0, 124, 225);
  box-shadow: 0px 0px 15px 0px rgb(33 150 243);
  border-radius: 10px;
  opacity: 1;
}


#waves {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
}

.projects {
  flex-wrap: wrap;
  gap: 8px;  

}

.projects:hover > .project::after {
  opacity: 1;
}

.project {
  background-color: rgba(0, 143, 255, 0.1);
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=108857), auto;
  border-radius: 10px;
  display: flex;
  height: 260px;
  flex-direction: column;
  position: relative;
  transition: 300ms all ease-in;
}

.project:hover{
  border: 1px solid rgb(0, 124, 225);
  box-shadow: 0px 0px 15px 0px rgb(33 150 243 / 0.5);
  transition: 300ms all ease-in;
}

.project:hover::before {
  opacity: 1;
}

.project::before,
.project::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.project::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y), 
    rgba(0, 124, 255, 0.06),
    transparent 40%
  );
  z-index: 3;

}

.project::after {  
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y), 
    rgba(0, 124, 255, 0.4),
    transparent 40%
  );
  z-index: 1;
}

.project > .project-content {
  background-color: var(--project-color);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}



.project-image > i {
  font-size: 6em;
  opacity: 0.25;
}

.project-info-wrapper {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  padding: 0px 20px;
}

.project-info {
  align-items: flex-start;
  display: flex;
  gap: 10px;
}



.project-info-title > h3 {
  font-size: 2em;
  line-height: 20px;
  color: rgb(0, 124, 225);
  transition: 200ms text-shadow ease-in;
  font-weight: 700;
}

.project-info-title > h4 {
  font-size: 1em;
  margin-top: 8px;
  color: white;
  opacity: 0.6;
  font-weight: 400;
}

.projects .col-lg-3{
  padding-inline:0px ;
}

.project:hover .project-info-title > h3{
  text-shadow: rgb(0, 124, 225) 1px 0 10px,
               rgb(0, 124, 225) 1px 0 20px,
               rgb(0, 124, 225) 1px 0 30px;
  transition: 200ms text-shadow ease-in;
}


.get-in-touch{
  color: white;
}

.socials{
  display: flex;
  gap: 2em;
}

.socials > div{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(0, 124, 225);
  box-shadow: 0px 0px 15px 0px rgb(33 150 243 / 0.5);
  width: 40%;
  margin-left: auto;
  border-radius: 16px;
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=108857), auto;
  transition: 500ms box-shadow ease-in;
}

.socials > div:hover{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(0, 124, 225);
  box-shadow: 0px 0px 30px 0px rgb(33 150 243 / 0.5);
  width: 40%;
  margin-left: auto;
  border-radius: 16px;
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=108857), auto;
  transition: 200ms box-shadow ease-in;
}

.socials > div > svg{
  height: 5em;
  width: 5em;
  filter: drop-shadow(0px 0px 10px rgb(0 124 255 / 5));
}


.divider-last{
  border: 3px solid rgb(0, 124, 225);
  box-shadow: 0px 0px 15px 0px rgb(33 150 243);
  border-radius: 10px;
  opacity: 1;
  animation: flicker 4s linear infinite ;
}



@keyframes flicker {
  0% {
    opacity:0.1;

  }
  
  2% {
    opacity:1;

  }
  8% {

  }
  9% {
    opacity:1;

  }
  12% {
    opacity:0.1;

  }
  20% {
    opacity:1;
 }
  25% {
    opacity:0.3;

  }
  30% {
    opacity:1;

  }
  
  70% {
    opacity:0.7;

  }
  
  72% {
    opacity:0.2;

  }
  
  77% {
    opacity:.9;

  }
  100% {
    opacity:.9;

  }
}
